
<html lang="en" class="nivo-lightbox-notouch"
	xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="minhmapshop :: head"> 

<link type="text/css" rel="stylesheet"	th:href="${subpath} + ${domain} + '/css/checkout.css'" />
</head>
<body>

	<!-- Start Header/Navigation -->
	<header th:replace="minhmapshop :: topheader"> </header>
	<!-- End Header/Navigation -->

	<!-- Start Hero Section -->
	<div class="hero" style="padding-top: 2rem; padding-bottom: 1rem;">
		<div class="container">
			<div class="row justify-content-between">
				<div class="col-lg-5">
					<div class="intro-excerpt">
						<h1>Đặt hàng</h1>
					</div>
				</div>
				<div class="col-lg-7"></div>
			</div>
		</div>
	</div>
	<!-- End Hero Section -->

	<div th:replace="fcheckout :: body"> </div>

	<!-- Start Footer Section -->
	<div th:replace="minhmapshop :: footer"> </div>
	<!-- End Footer Section -->


	<script th:src=" ${domain} + '/js/jquery.min.js'"></script>
	<script th:src=" ${domain} + '/js/bootstrap.min.js'"></script>
	<script th:src=" ${domain} + '/js/slick.min.js'"></script>
	<script th:src=" ${domain} + '/js/nouislider.min.js'"></script>
	<script th:src=" ${domain} + '/js/jquery.zoom.min.js'"></script>
	<script th:src=" ${domain} + '/js/main.js'"></script>
	<script th:src=" ${domain} + '/js/checkout.js'"></script>
	<script th:src=" ${domain} + '/js/bootstrap.bundle.min.js'"></script>
	
</body>

</html>
