<!DOCTYPE html>
<html lang="en" th:lang="${selectedLanguageCode != null ? selectedLanguageCode : 'en'}" xmlns:th="http://www.thymeleaf.org">

<head th:replace="nncminhchau :: head('Minh Châu - Liên Hệ')">
</head>

<body>

	<header th:replace="nncminhchau :: header"></header>

	<div th:replace="nncminhchau :: videoSocialLinks"></div>

	<!-- Page Content -->
	<!-- Contact Page Starts Here -->
	<div class="contact-page">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="section-heading">
						<div class="line-dec"></div>
						<h1 data-i18n="contact.title">Contact Us</h1>
					</div>
				</div>
				<div class="col-md-6">
				
					<div id="map" th:utext="${client.clientMapEmbeded}" style="margin-bottom: 20px;"></div>
						
				</div>
				<div class="col-md-6">
					<div class="right-content">
						<div class="container">
						<p class="" th:utext="${page.articleContent}"></p>
							<span data-i18n="contact.companyName">CÔNG TY TNHH TM DV NÔNG NGƯ CƠ MINH CHÂU</span> <span></span>
							<span data-i18n="contact.contactAddress">Địa chỉ liên hệ: 690C Kinh Dương Vương, An Lạc, Bình Tân, Thành phố Hồ Chí Minh, Việt Nam</span>
							<span data-i18n="contact.warehouseAddress">Địa chỉ kho: 688/2 Kinh Dương Vương, An Lạc, Bình Tân, Thành phố Hồ Chí Minh, Việt Nam</span>
							<span><span data-i18n="contact.email">Email:</span> <strong>info@nncminhchau.vn</strong></span>
							<span><span data-i18n="contact.phone">Sdt:</span> <strong>0936837967</strong></span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Contact Page Ends Here -->

	<!-- Subscribe Form -->
	<div class="subscribe-form">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="section-heading">
						<div class="line-dec"></div>
						<h1 style="color:white;" > 0936837967</h1>
					</div>
				</div>
			</div>
		</div>
	</div>

	<footer th:replace="nncminhchau :: footer"></footer>

	<div th:replace="nncminhchau :: scripts"></div>

</body>
</html>