<html lang="en"><head>
    <meta charset="utf-8">
    <title>Mì Gia Truyền</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="mì gia truyền Vũng Liêm" name="keywords">
    <meta content="Mì Gia Truyền, tỉnh lộ 907, Thị Trấn Vũng Liêm, gần bến xe Vũng Liêm." name="description">

    <!-- Favicon -->
    <link href="/migiatruyen.vn/img/favicon.ico" th:href="'/' + ${domain} + '/img/favicon.ico'" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600&amp;family=Nunito:wght@600;700;800&amp;family=Pacifico&amp;display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="/migiatruyen.vn/lib/animate/animate.min.css" th:href="'/' + ${domain} + '/lib/animate/animate.min.css'" rel="stylesheet">
    <link href="/migiatruyen.vn/lib/owlcarousel/assets/owl.carousel.min.css" th:href="'/' + ${domain} + '/lib/owlcarousel/assets/owl.carousel.min.css'" rel="stylesheet">
    <link href="/migiatruyen.vn/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" th:href="'/' + ${domain} + '/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css'" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="/migiatruyen.vn/css/bootstrap.min.css" th:href="'/' + ${domain} + '/css/bootstrap.min.css'" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="/migiatruyen.vn/css/style.css" th:href="'/' + ${domain} + '/css/style.css'" rel="stylesheet">
	<meta http-equiv="refresh" content="0; url=/trang-chu.html" />
</head>
</html>