<div  th:fragment="navbarResponsive" class="collapse navbar-collapse" id="navbarResponsive">
	<ul class="navbar-nav ml-auto">
		<li class='nav-item'><a class='nav-link' href='/index.html'>TRANG
				CHỦ</a></li>
		<li class='nav-item'><a class='nav-link' href='/products.html'>SẢN PHẨM</a></li>
		<!-- <li class='nav-item'><a class='nav-link'
			href='products.html' id='' role='button'
			data-toggle='dropdown' aria-haspopup='true' aria-expanded='false'>
				SẢN PHẨM </a>
			<ul class='dropdown-menu' aria-labelledby='productsDropdown'>
				<li class='dropdown-submenu'><a
					class='dropdown-item dropdown-toggle' href='products.html'>Tất cả</a>
					<ul class='dropdown-menu'>
						<li><a class='dropdown-item' href='yanmar-6gh.html'>Model
								6GH</a></li>
						<li><a class='dropdown-item' href='yanmar-4tnv.html'>Model
								4TNV</a></li>
						<li><a class='dropdown-item' href='yanmar-3tnv.html'>Model
								3TNV</a></li>
					</ul></li>
				<li class='dropdown-submenu'><a
					class='dropdown-item dropdown-toggle' href='#'>Mitsubishi</a>
					<ul class='dropdown-menu'>
						<li><a class='dropdown-item' href='mitsubishi-s4l.html'>Model
								S4L</a></li>
						<li><a class='dropdown-item' href='mitsubishi-s6r.html'>Model
								S6R</a></li>
						<li><a class='dropdown-item' href='mitsubishi-l3e.html'>Model
								L3E</a></li>
					</ul></li>
				<li class='dropdown-submenu'><a
					class='dropdown-item dropdown-toggle' href='#'>Yanmar</a>
					<ul class='dropdown-menu'>
						<li><a class='dropdown-item' href='yanmar-6gh.html'>Model
								6GH</a></li>
						<li><a class='dropdown-item' href='yanmar-4tnv.html'>Model
								4TNV</a></li>
						<li><a class='dropdown-item' href='yanmar-3tnv.html'>Model
								3TNV</a></li>
					</ul></li>
				<li class='dropdown-submenu'><a
					class='dropdown-item dropdown-toggle' href='#'>Mitsubishi</a>
					<ul class='dropdown-menu'>
						<li><a class='dropdown-item' href='mitsubishi-s4l.html'>Model
								S4L</a></li>
						<li><a class='dropdown-item' href='mitsubishi-s6r.html'>Model
								S6R</a></li>
						<li><a class='dropdown-item' href='mitsubishi-l3e.html'>Model
								L3E</a></li>
					</ul></li>
			</ul>
			
			</li> -->
			
		<li class='nav-item'><a class='nav-link' href='/videos.html'>VIDEOS CLIP</a></li>

		<li class='nav-item'><a class='nav-link' href='/about.html'>GIỚI
				THIỆU</a></li>
				
				

		<li class='nav-item'><a class='nav-link' href='/contact.html'>LIÊN
				HỆ</a></li>
	</ul>
</div>